---
import SquadCta from "./SquadCta.astro";
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="text-primary-main"
      >
        Ido Shamun
      </span>
    </h1>
    <p class="text-2xl pb-4">Co-Founder, CTO at daily.dev</p>
  </div>
  <div>
    <p class="mb-5">
      Hey there! I'm Ido Shamun, the co-founder and CTO of <a href="https://daily.dev">daily.dev</a>, and this
      is my humble corner of the internet. Join me as I spill the beans on my
      rollercoaster ride as a tech founder.
    </p><p class="mb-5">
      Throughout my journey, I've learned a few things about leadership,
      engineering, entrepreneurship, and the open-source world. While I may not
      have all the answers, I'm eager to share the lessons I've picked up along
      the way.
    </p>
  </div>
  <SquadCta />
</section>
