---
import { siteConfig } from "../site.config";
---

<div class="mt-16 mb-4 flex flex-row flex-wrap items-center justify-center">
  <span class="mb-1">Let's keep the discussion going</span>
  <a href={siteConfig.squad} class="unset whitespace-nowrap px-4 py-2 mb-1 ml-1 bg-[#AC1DE4] hover:bg-[#9E15D9] text-white rounded-full dark:bg-[#CE3DF3] dark:hover:bg-[#D74CF6]">Join my squad</a>
</div>